.header {
  display: flex;
  align-items: center;
  padding: 15px 0;
  gap: 35px;
  z-index: 10;
}
.header .logo_btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .logo_btn img {
  max-width: none;
}
.header .header_action_btns {
  display: flex;
  gap: 20px;
  align-items: center;
}
.header .header_action_btns a {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #000;
}
.header .action_btn {
  padding: 6px 12px;
  border-radius: 5px;
}
.header .action_btn span {
  font-weight: 500;
  font-size: 18px;
  color: #3333CC;
}
.header .action_btn:hover {
  background-color: #e6e8ed;
}
.header .catalog_btn {
  border: 0;
  background-color: #EAEAF9;
  font-size: 15px;
  color: #3333CC;
  border-radius: 7px;
  padding: 9px 15px;
  transition: 0.3s ease;
}
.header .catalog_btn:hover {
  scale: 1.05;
  background-color: #3333CC;
  color: #EAEAF9;
}
.header .search_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-radius: 5px;
  border: 2px solid rgba(154, 165, 175, 0.2588235294);
  height: 34px;
  padding: 0 0 0 15px;
}
.header .search_box input {
  height: 100%;
  width: 80%;
  font-size: 15px;
  outline: 0;
  border: 0;
}
.header .search_box .search_btn {
  height: 100%;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 40px;
}

.catalog_body {
  height: 0px;
  overflow: hidden;
  position: absolute;
  transition: 1s ease;
  left: 0;
  right: 0;
  top: 65px;
  z-index: 5;
  padding-block: 50px;
  background: #fff;
  animation: fadeHeightOpen 1s ease forwards;
}
.catalog_body .catalog_wrap {
  width: 48.5%;
  margin: 0 auto;
}
.catalog_body .catalog_wrap h3 {
  margin-bottom: 20px;
  color: rgba(55, 55, 55, 0.5607843137);
  font-size: 14px;
  font-weight: 500;
}
.catalog_body .catalog_wrap .catalog {
  max-height: 300px;
  overflow-y: scroll;
  display: grid;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.catalog_body .catalog_wrap .catalog .category_link {
  white-space: nowrap;
  color: #000;
  font-size: 28px;
  font-weight: 600;
}
.catalog_body .catalog_wrap .catalog .category_link span {
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  background-color: #7000FF;
  padding: 2px 4px;
  border-radius: 2px;
}
.catalog_body .catalog_wrap .catalog::-webkit-scrollbar {
  display: none;
}

.backdrop {
  position: fixed;
  z-index: 3;
  bottom: 0;
  left: 0;
  right: 0;
  top: 15%;
  -webkit-backdrop-filter: blur(10px) brightness(0.7);
          backdrop-filter: blur(10px) brightness(0.7);
}

@keyframes fadeHeightOpen {
  0% {
    height: 0;
  }
  100% {
    height: -moz-fit-content;
    height: fit-content;
  }
}
.active_catalog {
  scale: 1.05 !important;
  background-color: #3333CC !important;
  color: #EAEAF9 !important;
}

.mobile_header {
  width: 100%;
  margin-block: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  display: none;
}
.mobile_header .return {
  background: 0;
  border: 0;
}
.mobile_header .app_search_wrap {
  width: 100%;
  background-color: #edeff2;
  padding: 0 18px;
  border-radius: 8px;
  display: flex;
  gap: 10px;
}
.mobile_header .app_search_wrap img {
  scale: 1.3;
}
.mobile_header .app_search_wrap input {
  font-weight: 500;
  font-size: 15px;
  background: 0;
  outline: 0;
  border: 0;
  padding-block: 8px;
  height: 100%;
  width: 100%;
}
.mobile_header .search_active_wrap {
  z-index: 8;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 50px;
}
.mobile_header .search_active_wrap .product_results_wrap, .mobile_header .search_active_wrap .category_results_wrap {
  width: 95%;
  max-width: 1240px;
  margin: 0 auto;
}
.mobile_header .search_active_wrap .product_results_wrap h3, .mobile_header .search_active_wrap .category_results_wrap h3 {
  margin-block: 25px 15px;
  color: #868686;
  font-weight: 500;
}
.mobile_header .search_active_wrap .product_results_wrap .product_results, .mobile_header .search_active_wrap .product_results_wrap .category_results, .mobile_header .search_active_wrap .category_results_wrap .product_results, .mobile_header .search_active_wrap .category_results_wrap .category_results {
  max-height: 200px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.mobile_header .search_active_wrap .product_results_wrap .product_results .product_res, .mobile_header .search_active_wrap .product_results_wrap .product_results .category_res, .mobile_header .search_active_wrap .product_results_wrap .category_results .product_res, .mobile_header .search_active_wrap .product_results_wrap .category_results .category_res, .mobile_header .search_active_wrap .category_results_wrap .product_results .product_res, .mobile_header .search_active_wrap .category_results_wrap .product_results .category_res, .mobile_header .search_active_wrap .category_results_wrap .category_results .product_res, .mobile_header .search_active_wrap .category_results_wrap .category_results .category_res {
  display: flex;
  align-items: center;
  gap: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.285);
}
.mobile_header .search_active_wrap .product_results_wrap .product_results .product_res .prod_res_name, .mobile_header .search_active_wrap .product_results_wrap .product_results .product_res .categ_res_name, .mobile_header .search_active_wrap .product_results_wrap .product_results .category_res .prod_res_name, .mobile_header .search_active_wrap .product_results_wrap .product_results .category_res .categ_res_name, .mobile_header .search_active_wrap .product_results_wrap .category_results .product_res .prod_res_name, .mobile_header .search_active_wrap .product_results_wrap .category_results .product_res .categ_res_name, .mobile_header .search_active_wrap .product_results_wrap .category_results .category_res .prod_res_name, .mobile_header .search_active_wrap .product_results_wrap .category_results .category_res .categ_res_name, .mobile_header .search_active_wrap .category_results_wrap .product_results .product_res .prod_res_name, .mobile_header .search_active_wrap .category_results_wrap .product_results .product_res .categ_res_name, .mobile_header .search_active_wrap .category_results_wrap .product_results .category_res .prod_res_name, .mobile_header .search_active_wrap .category_results_wrap .product_results .category_res .categ_res_name, .mobile_header .search_active_wrap .category_results_wrap .category_results .product_res .prod_res_name, .mobile_header .search_active_wrap .category_results_wrap .category_results .product_res .categ_res_name, .mobile_header .search_active_wrap .category_results_wrap .category_results .category_res .prod_res_name, .mobile_header .search_active_wrap .category_results_wrap .category_results .category_res .categ_res_name {
  color: #000;
  font-size: 14px;
  font-weight: 500;
}
.mobile_header .search_active_wrap .product_results_wrap .product_results::-webkit-scrollbar, .mobile_header .search_active_wrap .product_results_wrap .category_results::-webkit-scrollbar, .mobile_header .search_active_wrap .category_results_wrap .product_results::-webkit-scrollbar, .mobile_header .search_active_wrap .category_results_wrap .category_results::-webkit-scrollbar {
  display: none;
}
.mobile_header .search_active_wrap .category_results_wrap {
  margin-top: 50px;
}

.product_card {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  color: #000;
  border-radius: 10px;
  transition: 0.25s ease;
  cursor: pointer;
}
.product_card .product_like_btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: 0;
  border: 0;
}
.product_card .product_img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  border-radius: 10px;
  transition: 0.3s ease;
}
.product_card .product_info {
  padding-inline: 7px;
  padding-bottom: 10px;
  margin-top: 10px;
  position: relative;
  display: flex;
  justify-content: space-between;
  height: -moz-max-content;
  height: max-content;
  gap: 20px;
  flex-direction: column;
}
.product_card .product_info .add_cart_btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: 0;
  padding: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid rgba(82, 82, 82, 0.3294117647);
  border-radius: 50%;
}
.product_card .product_info .add_cart_btn:hover {
  background-color: rgba(196, 196, 196, 0.4745098039);
}
.product_card .product_info .product_name {
  font-size: 14px;
  font-weight: 500;
  width: 100%;
  color: #000;
  height: 2lh;
  overflow-y: scroll;
}
.product_card .product_info .product_name::-webkit-scrollbar {
  display: none;
}
.product_card .product_info .product_price {
  font-size: 15px;
  font-weight: 500;
  color: #000;
}

.product_card:hover {
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.217);
}
.product_card:hover .product_img {
  scale: 1.05;
}

@media (max-width: 1199.98px) {
  .header_action_btns {
    gap: 0px !important;
  }
  .action_btn h4,
  .action_btn span {
    display: none;
  }
  .top_rated_grid,
  .for_pc_grid,
  .furniture_grid,
  .audio_grid {
    grid-template-columns: repeat(4, 1fr) !important;
  }
}
@media (max-width: 959.98px) {
  .main {
    margin-top: 15px !important;
  }
  .header {
    display: none;
  }
  .mobile_header {
    display: flex;
  }
  .mobile_tabs {
    display: block !important;
  }
  .top_rated_grid,
  .for_pc_grid,
  .furniture_grid,
  .audio_grid {
    grid-template-columns: repeat(3, 1fr) !important;
  }
  .product_name,
  .product_price {
    font-size: 12px !important;
  }
  section h1 {
    font-size: 25px !important;
  }
  .swiper {
    height: 320px !important;
  }
}
@media (max-width: 719.98px) {
  .swiper-slide {
    padding: 0px 55px !important;
  }
  .swiper-slide h3 {
    font-size: 20px !important;
  }
  .swiper-slide p {
    font-size: 12px !important;
    width: 340px !important;
  }
  .top_rated,
  .furniture_section,
  .audio_section,
  .for_pc {
    margin-top: 30px !important;
  }
}
@media (max-width: 639.98px) {
  .swiper {
    height: 270px !important;
  }
  .top_rated_grid,
  .for_pc_grid,
  .furniture_grid,
  .audio_grid {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}
@media (max-width: 469.98px) {
  .swiper {
    height: 200px !important;
  }
  .swiper-slide {
    padding: 0px 55px !important;
    gap: 5px !important;
  }
  .swiper-slide h1 {
    font-size: 16px !important;
    font-weight: 500 !important;
  }
  .swiper-slide h3 {
    font-size: 15px !important;
  }
  .swiper-slide p {
    font-size: 9px !important;
    width: 270px !important;
  }
  .tab svg {
    width: 25px !important;
    height: 25px !important;
  }
  .tab h3 {
    font-size: 12px !important;
  }
}
.mobile_tabs {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  right: 0;
  bottom: 0;
  padding-block: 4px;
  background-color: #fff;
  border-top: 1px solid rgba(0, 0, 0, 0.5607843137);
}
.mobile_tabs .tabs {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.mobile_tabs .tabs .tab {
  color: #a6a9b2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mobile_tabs .tabs .tab svg {
  width: 35px;
  height: 35px;
  margin-bottom: 5px;
}
.mobile_tabs .tabs .tab h3 {
  font-size: 14px;
  font-weight: 500;
}

.active_tab svg path {
  fill: #7000ff;
}
.active_tab h3 {
  color: #7000ff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Gilroy";
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
}

.wrap {
  max-width: 1240px;
  margin: 0 auto;
  width: 95%;
}

.main {
  margin-top: 40px;
}
.main .main_swiper .swiper {
  border-radius: 20px;
  width: 100%;
  height: 400px;
}
.main .main_swiper .swiper .swiper-slide {
  color: #fff;
  background: linear-gradient(87.38deg, #9643FF 1.53%, #5200BA 98.76%);
  cursor: grab;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 100px;
  gap: 10px;
}
.main .main_swiper .swiper .swiper-slide p {
  width: 500px;
  font-size: 14px;
  font-weight: 500;
}
.main .main_swiper .swiper .swiper-slide h1 {
  font-size: 44px;
  font-weight: 800;
}
.main .main_swiper .swiper .swiper-slide h3 {
  font-size: 28px;
  font-weight: 600;
}
.main .main_swiper .swiper .swiper-button-prev,
.main .main_swiper .swiper .swiper-button-next {
  color: #000;
  scale: 0.7;
}
.main .top_rated {
  margin-top: 85px;
}
.main .top_rated h1 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 30px;
}
.main .top_rated .top_rated_grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  row-gap: 40px;
  -moz-column-gap: 25px;
       column-gap: 25px;
}
.main .for_pc {
  margin-top: 85px;
}
.main .for_pc h1 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 30px;
}
.main .for_pc .for_pc_grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  row-gap: 40px;
  -moz-column-gap: 25px;
       column-gap: 25px;
}
.main .furniture_section {
  margin-top: 85px;
}
.main .furniture_section h1 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 30px;
}
.main .furniture_section .furniture_grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  row-gap: 40px;
  -moz-column-gap: 25px;
       column-gap: 25px;
}
.main .audio_section {
  margin-top: 85px;
}
.main .audio_section h1 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 30px;
}
.main .audio_section .audio_grid {
  margin-bottom: 85px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  row-gap: 40px;
  -moz-column-gap: 25px;
       column-gap: 25px;
}

.backdrop {
  position: fixed;
  z-index: 3;
  bottom: 0;
  left: 0;
  right: 0;
  top: 15%;
  -webkit-backdrop-filter: blur(10px) brightness(0.7);
          backdrop-filter: blur(10px) brightness(0.7);
}

.hiden {
  display: none;
}

@keyframes fadeHeightOpen {
  0% {
    height: 0;
  }
  100% {
    height: -moz-fit-content;
    height: fit-content;
  }
}
.active_catalog {
  scale: 1.05;
  background-color: #3333CC;
  color: #EAEAF9;
}