@use 'style-modules/header.scss';
@use 'style-modules/product-card.scss';
// @use 'media-modules/main-media.scss';

$magenta-text-color: #3333CC;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
    text-decoration: none;
}

button {
    cursor: pointer;
}

img {
    max-width: 100%;
}

.wrap {
    max-width: 1240px;
    margin: 0 auto;
    width: 95%;
}


.main {
    margin-top: 40px;

    .main_swiper {
        .swiper {
            border-radius: 20px;
            width: 100%;
            height: 400px;

            .swiper-slide {
                color: #fff;
                background: linear-gradient(87.38deg, #9643FF 1.53%, #5200BA 98.76%);
                cursor: grab;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 0 100px;
                gap: 10px;

                & p {
                    width: 500px;
                    font-size: 14px;
                    font-weight: 500;
                }

                & h1 {
                    font-size: 44px;
                    font-weight: 800;
                }

                & h3 {
                    font-size: 28px;
                    font-weight: 600;
                }
            }

            .swiper-button-prev,
            .swiper-button-next {
                color: #000;
                scale: 0.7;
            }
        }
    }

    .top_rated {
        margin-top: 85px;

        & h1 {
            font-size: 32px;
            font-weight: 600;
            margin-bottom: 30px;
        }

        .top_rated_grid {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            row-gap: 40px;
            column-gap: 25px;
        }
    }

    .for_pc {
        margin-top: 85px;

        & h1 {
            font-size: 32px;
            font-weight: 600;
            margin-bottom: 30px;
        }

        .for_pc_grid {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            row-gap: 40px;
            column-gap: 25px;
        }
    }

    .furniture_section {
        margin-top: 85px;

        & h1 {
            font-size: 32px;
            font-weight: 600;
            margin-bottom: 30px;
        }

        .furniture_grid {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            row-gap: 40px;
            column-gap: 25px;
        }
    }

    .audio_section {
        margin-top: 85px;

        & h1 {
            font-size: 32px;
            font-weight: 600;
            margin-bottom: 30px;
        }

        .audio_grid {
            margin-bottom: 85px;
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            row-gap: 40px;
            column-gap: 25px;
        }
    }
}

.backdrop {
    position: fixed;
    z-index: 3;
    bottom: 0;
    left: 0;
    right: 0;
    top: 15%;
    backdrop-filter: blur(10px) brightness(0.7);
}

.hiden {
    display: none;
}

@keyframes fadeHeightOpen {
    0% {
        height: 0;
    }

    100% {
        height: fit-content;
    }
}

.active_catalog {
    scale: 1.05;
    background-color: $magenta-text-color;
    color: #EAEAF9;
}